@charset "utf-8";

@import url('reset.css');

/* common */
*{box-sizing:border-box;}
input,textarea,button{outline:0 none;}
button{border:0 none;}
select,input[type='text'],input[type='number'],input[type='password'],textarea{display:inline-block; box-sizing:border-box; outline:0; -webkit-appearance:none;  color:#6a6a6a; border:1px solid #838383; font-size:14px; vertical-align:middle;}
select,input[type='text'],input[type='number'],input[type='password']{height:28px; line-height:28px; padding-left:3%;}
select{width:100%; background:url('../../img/bul_select.png') no-repeat 100% 50% #fff; background-size:20px 20px;}
input[type='text'],input[type='number'],input[type='password']{background:#ffffff;}
input[type='text']::-webkit-input-placeholder{color:#959595;}
input[type='number']::-webkit-input-placeholder{color:#959595;}
input[type='password']::-webkit-input-placeholder{color:#959595;}
input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
textarea:focus{border:1px solid #838383;}
textarea{padding:3%;}
.btn,.inlineB{display:inline-block; vertical-align:middle; text-align:center; outline:0 none; padding:0; background:transparent;}
.btn{cursor:pointer;}
.bc_purple{background-color:#694fed; color:#fff;}
.bc_gray{background-color:#9b9b9b; color:#fff;}
.bc_wgray{background-color:#dcdcdc; color:#fff;}
.btm_btnbox{margin:0 24px 25px;}
.btm_btnbox02{margin:15px 24px 25px;}
.btm_btnbox .btn,
.btm_btnbox02 .btn{width:100%; margin-bottom:8px; height:28px; line-height:28px; border-radius:14px; font-size:16px; font-weight:bold;}

@media (min-width:640px){
	select,input[type='text'],input[type='number'],input[type='password'],textarea{font-size:22px;}
	select,input[type='text'],input[type='number'],input[type='password']{height:56px; line-height:56px; }
	select{height:56px; line-height:56px; background-size:40px 40px;}
	.btm_btnbox{margin:0 52px 50px;}
	.btm_btnbox02{margin:30px 52px 50px;}
	.btm_btnbox .btn,
	.btm_btnbox02 .btn{margin-bottom:16px; height:56px; line-height:56px; border-radius:28px; font-size:24px;}
}

.form_btn{position:relative;}
.form_btn label{display:inline-block; vertical-align: middle;}
.form_btn input[type='checkbox'],
.form_btn input[type='radio']{position:absolute; top:0; z-index:-1000; overflow: hidden; clip: rect(0 0 0 0); height:0; width:0; margin:-1px; padding:0; border:0; line-height:0; font-size:0; opacity:0;}
.form_btn input[type='checkbox'] + label,
.form_btn input[type='radio'] + label{padding-left:20px; line-height:20px; background-color: transparent; background-repeat:no-repeat; background-position:0 4px; font-size:14px; color:#000;}
.form_btn input[type='checkbox'] + label{background-image:url('../../img/bg_check_off.png');  background-size:14px 12px;}
.form_btn input[type='radio'] + label{background-image:url('../../img/bg_radio_off.png');  background-size:12px 12px;}
.form_btn input[type='checkbox']:checked + label{background-image:url('../../img/bg_check_on.png');}
.form_btn input[type='radio']:checked + label{background-image:url('../../img/bg_radio_on.png');} 

@media (min-width:640px){
	.form_btn input[type='checkbox'] + label,
	.form_btn input[type='radio'] + label{padding-left:40px; background-position:0 3px; font-size:24px; line-height:30px;}
	.form_btn input[type='checkbox'] + label{background-size:28px 24px;}
	.form_btn input[type='radio'] + label{background-size:24px 24px;}
}

/* layout */
html,body{height:100%; width:100%;}
body.bg,
.contbox.bg,
.contwbox.bg{background:#eaeaea;}
#wrap{position:relative; width:100%; min-width:320px;}
#container{position:relative; z-index:2;}

/* header */
#header{position:relative; height:50px; overflow:hidden; background-color:#000;}
#header h1{line-height:50px; text-align:center;}
#header h1 a{font-size:18px; color:#fff;}
#header .back{position:absolute; top:16px; left:18px; width:20px; height:20px; background:url('../../img/btn_back.png') no-repeat 0 0; background-size:20px; text-indent:-9999px;}
.gnb_menu{position:absolute; display:block; top:18px; right:20px; width:14px; height:14px; cursor:pointer; z-index:100;}
.gnb_menu>p{position:absolute; width:0; height:0; top:-9999px;}
.gnb_menu>span{position:absolute; width:45%; height:45%; background:#fff; border-radius:1px; 
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.gnb_menu .lt{top:0; left:0;}
.gnb_menu .rt{top:0; right:0;}
.gnb_menu .lb{bottom:0; left:0;}
.gnb_menu .rb{bottom:0; right:0;}
.gnb_mask,
.mask_area{position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); z-index:9;}
.gnb_mask{display:none;}
#gnb{position:fixed; top:0; right:0; height:100%; width:240px; z-index:10; background:#000000;  overflow:auto;
	-webkit-transform:translate(240px,0); 
	transform:translate(240px,0); 
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#gnb>ul{padding-top:50px; padding-left:30px; }
#gnb>ul>li.line{padding:18px 0;}
#gnb>ul>li.line span{display:inline-block; width:24px; height:1px; background:#fff; overflow:hidden;}
#gnb>ul>li>a{display:block; font-size:17px; line-height:60px; color:#fff;}
#gnb>ul>li>a.menu01{background:url('../../img/bul_gnb_menu01.png') no-repeat 0 50%;}
#gnb>ul>li>a.menu02{background:url('../../img/bul_gnb_menu02.png') no-repeat 0 50%;}
#gnb>ul>li>a.menu01,#gnb>ul>li>a.menu02{padding-left:20px; background-size:14px 14px;}

body.menu_open{overflow:hidden; position:fixed;}
body.menu_open .gnb_menu>span{background:#694fed;}
body.menu_open .gnb_mask{display:block;}
body.menu_open #gnb{
	-webkit-transform:translate(0,0);
	transform:translate(0,0);
}

@media (min-width:640px){
	#header{height:100px;}
	#header h1{line-height:100px;}
	#header h1 a{font-size:30px;}
	#header .back{top:30px; left:36px; width:40px; height:40px; background-size:40px;}
	.gnb_menu{top:36px; right:40px; width:28px; height:28px;}
	.gnb_menu>span{border-radius:2px;}
	#gnb{
		width:400px;
		-webkit-transform:translate(400px,0); 
		transform:translate(400px,0);
	}
	#gnb>ul{padding-top:100px; padding-left:60px;}
	#gnb>ul>li.line{padding:36px 0;}
	#gnb>ul>li.line span{width:48px;}
	#gnb>ul>li>a{font-size:26px; line-height:120px;}
	#gnb>ul>li>a.menu01,#gnb>ul>li>a.menu02{padding-left:40px; background-size:28px 28px;}
}

/* sub */
.top_infotxt{padding:24px 0; text-align:center; font-size:15px; color:#585858; background:#fff; border-bottom:1px solid #878787;}
.top_infotxt span{font-size:16px; color:#7b6ddb;}
.contbox{padding:0 24px 25px;}
.contwbox{padding:0 0 25px;}
.contbox.tline,.contwbox.tline{border-top:1px solid #878787;}
.contbox.tline02,.contwbox.tline02{padding-bottom:5px; border-top:1px solid #878787;}

.confirm_form01{}
.confirm_form01.tline{margin-top:20px; border-top:1px solid #b8b8b8;}
.confirm_form01 dt{margin-top:18px; font-size:16px; font-weight:bold; color:#000;}
.confirm_form01 dd.form{margin-top:12px; width:100%; overflow:hidden;}
.confirm_form01 dd.form input{float:left; width:59%;}
.confirm_form01 dd.form button{float:right; width:39%; height:28px; line-height:28px; border-radius:14px; font-size:14px; font-weight:bold;}

.lnc_txt{margin-top:8px;}
.lnc_txt.lrm{margin:8px 24px 0;}
.lnc_txt li{font-size:12px; color:#694fed; margin-left:14px; text-indent:-14px;}

@media (min-width:640px){
	.top_infotxt{padding:48px 0; font-size:26px;}
	.top_infotxt span{font-size:26px;}
	.contbox{padding:0 52px 50px;}
	.contwbox{padding:0 0 50px;}
	.contbox.tline02,.contwbox.tline02{padding-bottom:10px;}

	.confirm_form01{padding-bottom:40px;}
	.confirm_form01 dt{margin-top:36px; font-size:24px;}
	.confirm_form01 dd.form{margin-top:24px;}
	.confirm_form01 dd.form button{height:56px; line-height:56px; border-radius:28px; font-size:24px;}
	
	.lnc_txt{margin-top:16px;}
	.lnc_txt.lrm{margin:16px 52px 0;}
	.lnc_txt li{font-size:20px; margin-left:22px; text-indent:-22px;}
}

h2.stit{padding:15px 0; font-size:16px; color:#694fed; font-weight:bold;}
.contwbox h2.stit{margin-left:24px;}
.contbox.bg h2.stit,
.contwbox.bg h2.stit{color:#000;}
.wrt_table{border:1px solid #9c9c9c;}
.wrt_table table{width:100%;}
.wrt_table table th{background:#a6a6a6; color:#fff; border-top:1px solid #eaeaea;}
.wrt_table table td{background:#fff; color:#000; border-top:1px solid #cdcdcd; border-left:1px solid #9c9c9c;}
.wrt_table table th, .wrt_table table td{padding:8px 12px; font-size:14px; text-align:left;}
.wrt_table table tr.first th, .wrt_table table tr.first td{border-top:0 none;}

.lst_table.tbfix table{table-layout:fixed;}
.lst_table table{width:100%;}
.lst_table table thead th{border-top:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; background:#eaeaea; font-size:14px; color:#000;}
.lst_table table tbody td{border-bottom:1px solid #c6c6c6; background:#fff; font-size:13px; color:#a3a3a3;}
.lst_table table thead th, .lst_table table tbody td{text-align:center; padding:10px 12px;}
.lst_table table thead th.al, .lst_table table tbody td.al{text-align:left; padding:10px 0 10px 25px;}
.lst_table table tbody td a{font-size:13px; color:#a3a3a3;}
.lst_table table tbody td.txt_cut{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

@media (min-width:640px){
	h2.stit{padding:30px 0; font-size:26px;}
	.contwbox h2.stit{margin-left:52px;}
	.wrt_table table th, .wrt_table table td{padding:16px 24px; font-size:24px;}

	.lst_table table thead th,
	.lst_table table tbody td{font-size:24px;}
	.lst_table table thead th, .lst_table table tbody td{padding:20px 24px;}
	.lst_table table thead th.al, .lst_table table tbody td.al{padding:20px 0 20px 50px;}
	.lst_table table tbody td a{font-size:24px;}
}

.progress{display:inline-block; width:70%; height:20px; line-height:20px; border-radius:10px; text-align:center; font-size:13px; font-weight:bold;}
.progress.pg_finish{background:#eaeaea; color:#9b9b9b;}
.progress.pg_ing{background:#9b9b9b; color:#fff;}
.progress.pg_not{background:#694fed; color:#fff;}
.lst_table table tbody td.drop{background:#fff url('../../img/progress_arrow.png') no-repeat 100% 50%; cursor:pointer; background-size:7px 7px;}
.lst_table table tbody tr.drop_cont{display:none;}
.lst_table table tbody tr.drop_cont td{padding:0 0 8px; background:#eaeaea; text-align:left;}
.lst_table table tbody tr.drop_cont td .lnc_txt{margin:8px 24px 0;}
.confirm_form01.account_cont{}
.confirm_form01.account_cont dt{position:relative; margin-top:10px;}
.confirm_form01.account_cont dt strong{display:inline-block; font-size:14px; font-weight:normal; margin-left:24px;}
.confirm_form01.account_cont dt .dt_btn{position:absolute; top:0; right:0; width:30%; padding:0 12px; text-align:center;}
.confirm_form01.account_cont dt .dt_btn .btn{width:70%; height:20px; line-height:20px; border-radius:10px; font-size:13px; font-weight:bold;}
.confirm_form01.account_cont dd.form{position:relative; padding:0 24px;}
.confirm_form01.account_cont dd.form input{width:65%;}
.confirm_form01.account_cont dd.form button{height:20px; line-height:20px; border-radius:10px; font-size:13px; width:30%; margin-top:4px;}
.confirm_form01.account_cont dd.form.disablebox *{opacity:0.4;}
.document_photo li{width:100%; overflow:hidden; padding-top:10px;}
.document_photo li>p{float:left; padding-left:24px; font-size:14px; color:#000;}
.document_photo li>div{float:right; width:30%; padding:0 12px; text-align:center;}
.document_photo li>div .pg_finish{background:#fff;}

@media (min-width:640px){
	.progress{height:40px; line-height:40px; border-radius:20px; font-size:20px;}
	.lst_table table tbody td.drop{background-size:14px 14px;}
	.lst_table table tbody tr.drop_cont td{padding:0 0 16px;}
	.lst_table table tbody tr.drop_cont td .lnc_txt{margin:16px 52px 0;}
	.confirm_form01.account_cont{padding-bottom:0;}
	.confirm_form01.account_cont dt{margin-top:20px;}
	.confirm_form01.account_cont dt strong{font-size:24px; margin-left:52px;}
	.confirm_form01.account_cont dt .dt_btn{padding:0 24px;}
	.confirm_form01.account_cont dt .dt_btn .btn,
	.confirm_form01.account_cont dd.form button{height:40px; line-height:40px; border-radius:20px; font-size:20px;}
	.confirm_form01.account_cont dd.form{padding:0 52px;}
	.document_photo li{padding-top:20px;}
	.document_photo li>p{padding-left:52px; font-size:24px;}
}

.step_box{position:relative; background:#fff; width:100%; overflow:hidden; border-bottom:1px solid #878787;}
.step_box>li{float:left; padding:9px 0; background-repeat:no-repeat; background-position:100% 70%; background-size:10px 10px;}
.step_box>li.step01{width:29%;}
.step_box>li.step02{width:44%;}
.step_box>li.step03{width:27%;}
.step_box>li.step01,
.step_box>li.step02{background-image:url('../../img/step_arrow.png');}
.step_box.step01_p>li.step01,
.step_box.step02_p>li.step01,
.step_box.step02_p>li.step02,
.step_box.step03_p>li.step02{background-image:url('../../img/step_arrow_on.png');}
.step_box>li>span{display:block; padding-top:18px; font-size:15px; text-align:center; background-repeat:no-repeat; background-position:50% 0; background-size:14px 14px; color:#000;}
.step_box>li.on>span{color:#8e7ef1;}
.step_box>li.step01>span{background-image:url('../../img/bg_step01_off.png');}
.step_box>li.step02>span{background-image:url('../../img/bg_step02_off.png');}
.step_box>li.step03>span{background-image:url('../../img/bg_step03_off.png');}
.step_box>li.step01.on>span{background-image:url('../../img/bg_step01_on.png');}
.step_box>li.step02.on>span{background-image:url('../../img/bg_step02_on.png');}
.step_box>li.step03.on>span{background-image:url('../../img/bg_step03_on.png');}

@media (min-width:640px){
	.step_box>li{padding:18px 0; background-size:20px 20px;}
	.step_box>li>span{padding-top:36px; font-size:26px; background-size:28px 28px;}
}

.form_select{width:100%; overflow:hidden;}
.form_select li{float:left; width:50%;}
.txt_btmarea{border-top:1px solid #878787; padding:18px 0; text-align:center; font-size:13px; color:#a3a3a3; font-weight:bold;}
.lst_table.my_confirm{border-top:1px solid #c6c6c6;}
.lst_table.my_confirm table tbody td{font-size:14px; color:#000;}
.hp_confirm li{width:100%; overflow:hidden; padding:8px 0;}
.ns_table th,.ns_table td{padding:15px 0 0; line-height:28px; text-align:left; vertical-align:top; font-size:14px; font-weight:normal; color:#000;}
.ns_table tr.first th,.ns_table  tr.first td{padding:0;}
.link{font-size:12px; color:#694fed; text-decoration:underline;}
.autobtn{width:100%; height:28px; line-height:28px; font-size:14px; border:1px solid #6a6a6a; color:#858585; background:#fff;}
.stxt01{font-size:12px; color:#694fed; letter-spacing:-1px;}
.cost_num{font-size:14px; color:#959595;}

@media (min-width:640px){
	.txt_btmarea{padding:36px 0; font-size:22px;}
	.lst_table.my_confirm table tbody td{font-size:24px;}
	.hp_confirm li{padding:16px 0;}
	.ns_table th,.ns_table td{padding:30px 0 0; line-height:56px; font-size:24px;}
	.link{font-size:19px;}
	.autobtn{height:56px; line-height:56px;  font-size:24px;}
	.stxt01{font-size:19px;}
	.cost_num{font-size:24px;}
}

.ns_table td>div{margin-top:5px;}
.ns_table td>div.ar{text-align:right;}
.hp_confirm li>p{float:left; padding-left:24px; font-size:14px; color:#000;}
.hp_confirm li>div{float:right; width:30%; padding:0 12px; text-align:center;}
.hp_confirm li>div button{width:70%; height:20px; line-height:20px; border-radius:10px; font-size:14px;}
.hp_confirm li.confirm_number{padding:20px 24px 15px; border-top:1px solid #c6c6c6;}
.hp_confirm li.confirm_number .btn{height:28px; line-height:28px; border-radius:14px; font-size:14px;}
.ng_select{width:100%; overflow:hidden; border:1px solid #6a6a6a; background:#fff;}
.ng_select li{float:left; width:33%; border-right:1px solid #6a6a6a;}
.ng_select li.last{width:34%; border-right:0 none;}
.ng_select li a{display:block; height:28px; line-height:28px; text-align:center; font-size:14px; color:#858585;}
.ng_select li.on a{background:#694fed; color:#fff;}

@media (min-width:640px){
	.ns_table td>div{margin-top:10px;}
	.hp_confirm li>p{padding-left:52px; font-size:24px;}
	.hp_confirm li>div{padding:0 24px;}
	.hp_confirm li>div button{height:40px; line-height:40px; border-radius:20px; font-size:24px;}
	.hp_confirm li.confirm_number{padding:40px 52px 30px;}
	.hp_confirm li.confirm_number .btn{height:56px; line-height:56px; border-radius:28px; font-size:24px;}
	.ng_select li a{height:56px; line-height:56px;font-size:24px;}
}

.stit_stxt01{font-size:13px; color:#959595;}
.confirm_selectbox dt,.confirm_selectbox dd{padding:8px 24px; border-top:1px solid #c6c6c6; font-size:14px;}
.confirm_selectbox dt{position:relative; background:#fff; width:100%; overflow:hidden; line-height:20px;}
.confirm_selectbox dt>strong{display:block; padding-right:30%; font-size:14px; color:#000; font-weight:normal;}
.confirm_selectbox dt>span{position:absolute; top:8px; right:24px; width:20%;}
.confirm_selectbox dt>span .btn{width:100%; height:20px; line-height:20px; border-radius:10px; font-size:14px; vertical-align:top;}
.confirm_selectbox dd{background:#eaeaea;}
.confirm_selectbox dd>div{font-size:14px; color:#000;}
.confirm_selectbox dd>ul{width:100%; overflow:hidden;}
.confirm_selectbox dd>ul li{float:left; width:40%;}
.confirm_selectbox dd>div,.confirm_selectbox dd>ul{padding:6px 0;}
.confirm_selectbox dd>div.cgray,.confirm_selectbox dd>ul.cgray li label{color:#757575;}
.all_checkarea{padding:12px 24px; border-top:1px solid #878787;}

@media (min-width:640px){
	.stit_stxt01{font-size:22px;}
	.confirm_selectbox dt,.confirm_selectbox dd{padding:16px 52px; font-size:24px;}
	.confirm_selectbox dt{line-height:40px;}
	.confirm_selectbox dt>strong{font-size:24px;}
	.confirm_selectbox dt>span{top:16px; right:52px;}
	.confirm_selectbox dt>span .btn{height:40px; line-height:40px; border-radius:20px; font-size:24px;}
	.confirm_selectbox dd>div{font-size:24px;}
	.confirm_selectbox dd>div,.confirm_selectbox dd>ul{padding:12px 0;}
	.all_checkarea{padding:24px 52px;}
}

.search_infotop{padding:26px 0;}
.search_infotop h2,.search_infotop p{text-align:center;}
.search_infotop h2{font-size:19px; color:#4e31e0;}
.search_infotop p{margin-top:12px; font-size:15px; color:#505050; font-weight:bold;}
.search_infolst{padding:0 0 25px; background:#fff; text-align:center;}
.search_infolst ul{padding-top:5px; display:inline-block; }
.search_infolst ul li{margin-top:20px; padding-left:28px; font-size:14px; background:url('../../img/bul_star.png') no-repeat 0 0; background-size:18px; color:#585858; text-align:left;}
.search_infobtxt{padding:16px 0; text-align:center; font-size:13px; font-weight:bold; color:#959595;}
.btm_btnbox.search_infobtn{margin:0 24px 40px;}
.btm_btnbox.search_infobtn .btn{height:35px; line-height:35px; border-radius:17px;}

@media (min-width:640px){
	.search_infotop{padding:52px 0;}
	.search_infotop h2{font-size:34px;}
	.search_infotop p{margin-top:24px; font-size:26px;}
	.search_infolst{padding:0 0 50px;}
	.search_infolst ul{padding-top:10px;}
	.search_infolst ul li{margin-top:40px; padding-left:56px; font-size:24px; background-size:36px;}
	.search_infobtxt{padding:32px 0; font-size:22px;}
	.btm_btnbox.search_infobtn{margin:0 52px 80px;}
	.btm_btnbox.search_infobtn .btn{height:70px; line-height:70px; border-radius:35px;}
}

.inquir_box{margin-top:20%; padding:38px 24px; background:#fff;}
.inquir_box h2{font-size:19px; color:#4e31e0; text-align:center;}
.inquir_box p{padding:15px 0; font-size:15px; color:#a3a3a3; text-align:center; font-weight:bold;}
.inquir_box ul li{margin-top:10px; width:100%; overflow:hidden;}
.inquir_box ul li strong,.inquir_box ul li span{float:left; font-size:15px; color:#585858; font-weight:normal;}
.inquir_box ul li strong{width:46%; text-align:right; padding-right:15px;}

.notice_detailbox dt{padding:8px 24px; background:#ededed;}
.notice_detailbox dt>strong,.notice_detailbox dt>span{display:block; font-size:14px; line-height:24px;}
.notice_detailbox dt>strong{color:#000;}
.notice_detailbox dt>span{color:#979797;}
.notice_detailbox dd{padding:20px 24px; font-size:14px; color:#a3a3a3;}

@media (min-width:640px){
	.inquir_box{padding:76px 52px;}
	.inquir_box h2{font-size:34px;}
	.inquir_box p{padding:30px 0; font-size:26px;}
	.inquir_box ul li{margin-top:20px;}
	.inquir_box ul li strong,.inquir_box ul li span{font-size:28px;}
	.inquir_box ul li strong{padding-right:30px;}

	.notice_detailbox dt{padding:16px 52px;}
	.notice_detailbox dt>strong,.notice_detailbox dt>span{font-size:24px; line-height:40px;}
	.notice_detailbox dd{padding:40px 52px; font-size:24px;}
}

.terms_agreebox{border-top:1px solid #c6c6c6; padding:8px 0;}
.all_termscheck{padding:8px 24px; border-top:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; background:#fff; text-align:center;}

@media (min-width:640px){
	.terms_agreebox{padding:16px 0;}
	.all_termscheck{padding:16px 52px;}
}	

/* layerpop */
.layerpop{display:none; position:fixed; top:0; bottom:0; left:0; right:0; background:#fff; z-index:200; overflow:auto;}
.layer_header{position:relative; height:50px; background:#fff; text-align:center;}
.layer_header .tit{display:inline-block; line-height:50px; font-size:18px; color:#000;}
.layer_header .layer_close{position:absolute; top:14px; right:14px; width:25px; height:25px; border:0 none; background:transparent url('../../img/btn_layer_close.png') no-repeat 0 0; background-size:25px 25px; text-indent:-9999px; cursor:pointer;}
.layer_accountadd{padding:14px 0 0;}
.layer_accountadd li{width:100%; padding:8px 0; overflow:hidden;}
.layer_accountadd li>div{ font-size:14px; line-height:28px; color:#000;}
.layer_accountadd li .tit{float:left; width:28%;}
.layer_accountadd li .cont{float:right; width:70%;}
.account_steptit{font-size:14px; color:#000; font-weight:bold;}
.account_steplst{list-style:decimal; margin:10px 0 0 18px;}
.account_steplst li{color:#b8b8b8; font-size:14px;}

.loading_box{display:none; position:fixed; top:0; bottom:0; left:0; right:0; z-index:101;}
.loading_box .loading_cont{position:absolute; top:45%; left:0%; width:100%; text-align:center; z-index:102;}
.loading_box .loading_cont img{width:65px;}

.layer_txt01{margin-top:15px; font-size:14px; color:#a3a3a3;}
.layer_lst01{margin-top:15px; list-style:disc; margin-left:20px;}
.layer_lst01 li{font-size:14px; color:#a3a3a3;}

@media (min-width:640px){
	.layer_header{height:100px;}
	.layer_header .tit{line-height:100px; font-size:30px;}
	.layer_header .layer_close{top:28px; right:28px; width:50px; height:50px; background-size:50px 50px;}
	.layer_accountadd{padding:28px 0 0;}
	.layer_accountadd li{padding:16px 0;}
	.layer_accountadd li>div{font-size:24px; line-height:56px;}
	.account_steptit{font-size:24px;}
	.account_steplst{margin:20px 0 0 28px;}
	.account_steplst li{font-size:24px;}
	.loading_box .loading_cont img{width:130px;}
	.layer_txt01{margin-top:30px; font-size:24px;}
	.layer_lst01{margin-top:30px; margin-left:30px;}
	.layer_lst01 li{font-size:24px;}
}

/* main */
.sub_menu{position:relative; background:#fff; width:100%; overflow:hidden; border-bottom:1px solid #878787;}
.sub_menu>li{float:left; width:50%; border-left:1px solid #878787;}
.sub_menu>li.first{border-left:0 none;}
.sub_menu>li>a{display:block; height:50px; line-height:50px; text-align:center;}
.sub_menu>li>a>span{display:inline-block; color:#000;}
.sub_menu>li>a.menu01>span{background:url('../../img/bul_submenu_menu01.png') no-repeat 0 50%;}
.sub_menu>li>a.menu02>span{background:url('../../img/bul_submenu_menu02.png') no-repeat 0 50%;}
.sub_menu>li>a.menu01>span,.sub_menu>li>a.menu02>span{padding-left:20px; font-size:15px; background-size:15px 15px;}

.main_img{padding-top:42px; text-align:center;}
.main_img img{width:100%; max-width:640px;}
.main_txt{padding:30px 0 50px;}
.main_txt p{margin-bottom:15px; font-size:17px; color:#505050; text-align:center; font-weight:bold;}
.main_txt p strong{font-size:20px; color:#4e31e0;}

.fast_app{position:fixed; bottom:0; left:0; width:100%; z-index:3;}
.fastapp_btn{display:block; width:70%; height:38px; line-height:38px; margin:0 auto; font-size:15px; color:#fff; font-weight:bold; text-align:center; border:0 none; background:#000; border-top-left-radius:14px; border-top-right-radius:14px; cursor:pointer;}
.fastapp_contents{display:none; background:#fff;}
.fastapp_contents .fastapp_toptxt{padding:15px 0; font-size:14px; color:#000; text-align:center;}
.fastapp_contents .ns_table{padding:0 24px 15px; background:#ededed;}
.fastapp_contents .btm_btnbox{margin:0 24px; padding:12px 0; text-align:center;}
.fastapp_contents .btm_btnbox .btn{width:50%; height:35px; line-height:35px; border-radius:17px; margin-bottom:0;}

@media (min-width:640px){
	.sub_menu>li>a{height:100px; line-height:100px;}
	.sub_menu>li>a.menu01>span,.sub_menu>li>a.menu02>span{padding-left:40px; font-size:26px; background-size:30px 30px;}

	.main_img{padding-top:84px;}
	.main_txt{padding:60px 0 100px;}
	.main_txt p{margin-bottom:30px; font-size:26px;}
	.main_txt p strong{font-size:34px;}

	.fastapp_btn{height:76px; line-height:76px; font-size:26px; border-top-left-radius:38px; border-top-right-radius:38px;}
	.fastapp_contents .fastapp_toptxt{padding:30px 0; font-size:24px;}
	.fastapp_contents .ns_table{padding:0 52px 30px;}
	.fastapp_contents .btm_btnbox{margin:0 52px; padding:24px 0;}
	.fastapp_contents .btm_btnbox .btn{height:70px; line-height:70px; border-radius:35px;}
}

/* 170224 */
.contbox{padding:0 24px 14px;}
.contwbox{padding:0 0 14px;}
.fast_mask{display:none; z-index:101;}
.fast_app{z-index:102;}
.fastapp_btn{background:#000 url('../../img/bul_fastarrow.png') no-repeat 95% 50%; background-size:20px;}
.fastapp_btn.on{background:#000 url('../../img/bul_fastarrow_on.png') no-repeat 95% 50%; background-size:20px;}
.alert_layerpop{display:none; position:fixed; top:0; bottom:0; left:0; right:0; z-index:201;}
.alert_layerpop .layerpop{display:block; position:absolute; top:30%; bottom:auto; left:50%; width:90%; margin-left:-45%; background:#fff;}
.alert_layerpop .contbox{padding-top:10px;}
.alert_layerpop .btm_btnbox{margin:0 0 10px; text-align:center;}
.alert_layerpop .btm_btnbox .btn{width:40%;}
.search_infolst ul li.icon01{background:url('../../img/icon_search_info01.png') no-repeat 0 0;}
.search_infolst ul li.icon02{background:url('../../img/icon_search_info02.png') no-repeat 0 0;}
.search_infolst ul li.icon03{background:url('../../img/icon_search_info03.png') no-repeat 0 0;}
.search_infolst ul li.icon04{background:url('../../img/icon_search_info04.png') no-repeat 0 0;}
.search_infolst ul li.icon05{background:url('../../img/icon_search_info05.png') no-repeat 0 0;}
.search_infolst ul li.icon01,.search_infolst ul li.icon02,.search_infolst ul li.icon03,.search_infolst ul li.icon04,.search_infolst ul li.icon05{background-size:20px; line-height:20px;}
.confirm_selectbox dd{padding:5px 24px; font-size:13px;}
.confirm_selectbox dd>div,.confirm_selectbox dd>ul{padding:3px 0;}
.confirm_selectbox dd>div{letter-spacing:-1px;}
.cost_num{font-size:13px; letter-spacing:-1px;}
.lst_table table tbody td.arrow{background:#fff url('../../img/link_arrow.png') no-repeat 8% 50%; background-size:8px;}
.lst_table table tbody td.drop{background-size:10px;}
.lst_table table tbody td.drop.on{background:#fff url('../../img/progress_arrow_on.png') no-repeat 100% 50%; background-size:10px;}
.disablebtn{cursor:inherit; opacity:0.4;}
.confirm_btnbox{width:100%; overflow:hidden; padding:3px 24px; border-top:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; background-color:#fff;}
.confirm_btnbox dt{float:left; line-height:28px; font-size:14px; color:#000;}
.confirm_btnbox dd{float:right;}
.confirm_btnbox dd button{width:90px; height:28px; line-height:28px; border-radius:14px; font-size:14px; font-weight:bold;}

@media screen and (max-width: 360px){
	.main_img{padding-top:25px; text-align:center;}
	.main_txt{padding:20px 0 50px;}
	.search_infotop{padding:15px 0;}
}
@media (min-width:640px){
	.fastapp_btn,
	.fastapp_btn.on{background-size:40px;}
	.alert_layerpop .contbox{font-size:24px;}
	.search_infolst ul li.icon01,.search_infolst ul li.icon02,.search_infolst ul li.icon03,.search_infolst ul li.icon04,.search_infolst ul li.icon05{background-size:40px; line-height:40px;}
	.confirm_selectbox dd{padding:10px 52px;}
	.confirm_selectbox dd>div,.confirm_selectbox dd>ul{padding:6px 0;}
	.lst_table table tbody td.arrow{background-size:16px;}
	.lst_table table tbody td.drop,
	.lst_table table tbody td.drop.on{background-size:20px;}
	.cost_num{font-size:24px;}
	.confirm_btnbox{padding:6px 52px;}
	.confirm_btnbox dt{line-height:56px; font-size:24px;}
	.confirm_btnbox dd button{width:180px; height:56px; line-height:56px; font-size:24px; border-radius:24px;}
}