
svg,div,img{
	-webkit-user-select: none; 
	-moz-user-select: none;
	-khtml-user-select: none; 
	-ms-user-select: none; 
}


/*
필수 항목을 체크하지 않았을 때 필수 항목이 들어간 컨트롤에 아래의 스타일을 적용합니다.
변경해서 사용할 경우 동일한 이름으로 UserConfig.css 등록하여 사용하십시오.
*/
.eForm_NecessaryCheck{
	background-color : orange;
	opacity: 0.5;
}

.eform_menu_div {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
	overflow: visible;
	background-color: #fafafa;
}

.eform_paint_div {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	border: 1px solid silver;
	background-color:  #999999;
	overflow: auto;
	text-align: center;
}

.eform_menu_table_td_div {
	position: relative;
	height: 30px;
	width: 100%;
	font-size: 10pt;
}

.eform_menu_button {
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain;
	border: 0px none;
	background-color: transparent;
	/*
	background-repeat: no-repeat;
    background-position: center;
    */
}

.eform_input_table {
	position: absolute;
	left: 100px;
	height: 28px;
	width: 100px;
}

.eform_input_table_td_input {
	width: 50px;
}

.eform_input_table_td {
	width: 50px;
}

.eform_doodle_pageinfo_table{
	position: absolute;
	right: 80px;
	height: 20px;
	width: 60px;
	text-align:center;
	font-size:14pt;
}

.eform_menu_save_button {
	right: 55px;
	background-image: url(../img/eform/save.png);
	width:28px;
	height:28px;
}

/*리포트 닫기 버튼*/
.eform_menu_close_button {
	right: 10px;
	background-image: url(../img/eform/close.png);
}

/*메모기능 닫기 버튼*/
.eform_menu_doodleClose_button {
	right: 10px;
	background-image: url(../img/PNG/close.png);
}


.eform_menu_leftEnd_button {
	left: 10px;
	background-image: url(../img/eform/leftEnd.png);
}


.eform_menu_left_button {
	left: 50px;
	background-image: url(../img/eform/left.png);
}

.eform_menu_right_button {
	left: 220px;
	background-image: url(../img/eform/right.png);
}

.eform_menu_rightEnd_button {
	left: 260px;
	background-image: url(../img/eform/rightEnd.png);
}


/*프린트 버튼*/
.eform_menu_print_button {
	left: 520px;
	background-image: url(../img/eform/print.png);
}

/*형광펜 버튼*/
.eform_menu_doodle_button{
	left: 580px;
	background-image: url(../img/eform/yellowhighlighter.png);
	display:none;
}
	

.eform_menu_zoom_combo {
	position: absolute;
	left: 320px;
	height: 30px;
	width: 150px;
	font-size: 13pt;
}

.eform_menu_pageCount_input {
	position: relative;
	left: 0px;
	width: 55px;
	height: 20px;
	line-height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px none;
	background: transparent;
	font-size: 13pt;
}

.eform_menu_pageCount_span {
	position: relative;
	left: 0px;
	width: 55px;
	height: 20px;
	line-height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px none;
	background: transparent;
	font-size: 13pt;
}

.eform_menu_doodleleft_button {
	right: 140px;
	background-image: url(../img/eform/left.png);
}

.eform_menu_doodleright_button {
	right: 50px;
	background-image: url(../img/eform/right.png);
}

.m_eform_menu_div {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50px;
	overflow: visible;
	background-color: #fafafa;
}

.m_eform_paint_div {
	position: absolute;
	top: 50px;
	width: 100%;
	bottom: 0px;
	border: 1px solid silver;
	background-color:  #999999;
	overflow: scroll;
	text-align: center;
	-webkit-overflow-scrolling: touch;
}

.m_eform_menu_table_td_div {
	position: relative;
	height: 40px;
	width: 100%;
	font-size: 10pt;
}

.m_eform_menu_button {
	position: absolute;
	width: 40px;
	height: 40px;
	background-size: contain;
	border: 0px none;
	background-color: transparent;
	/*
	background-repeat: no-repeat;
    background-position: center;
    */
}

.m_eform_input_table {
	position: absolute;
	left: 125px;
	height: 40px;
	width: 80px;
}

.m_eform_input_table_td_input {
	width: 40px;
}

.m_eform_input_table_td {
	width: 40px;
}
.m_eform_doodle_pageinfo_table{
	position: absolute;
	right: 110px;
	height: 40px;
	width: 60px;
	text-align:center;
	font-size:14pt;
}

.m_eform_menu_save_button {
	left: 510px;
	background-image: url(../img/eform/save.png);
}

/*리포트 닫기 버튼*/
.m_eform_menu_close_button {
	right: 15px;
	background-image: url(../img/eform/close.png);
}
/*메모기능 닫기 버튼*/
.m_eform_menu_doodleClose_button {
	right: 15px;
	background-image: url(../img/PNG/close.png);
}


.m_eform_menu_leftEnd_button {
	left: 15px;
	background-image: url(../img/eform/leftEnd.png);
}

.m_eform_menu_left_button {
	left: 65px;
	background-image: url(../img/eform/left.png);
}

.m_eform_menu_right_button {
	left: 225px;
	background-image: url(../img/eform/right.png);
}


.m_eform_menu_rightEnd_button {
	left: 275px;
	background-image: url(../img/eform/rightEnd.png);
}


/*프린트 버튼*/
.m_eform_menu_print_button {
	left: 580px;
	background-image: url(../img/eform/print.png);
}

.m_eform_menu_doodle_button{
	left: 580px;
	background-image: url(../img/eform/yellowhighlighter.png);
	display:none;
}

.m_eform_menu_zoom_combo {
	position: absolute;
	left: 350px;
	height: 40px;
	width: 130px;
	font-size: 14pt;
}

.m_eform_menu_pageCount_input {
	position: relative;
	left: 0px;
	width: 40px;
	height: 30px;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px none;
	background: transparent;
	font-size: 14pt;
}

.m_eform_menu_pageCount_span {
	position: relative;
	left: 0px;
	width: 40px;
	height: 30px;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px none;
	background: transparent;
	font-size: 14pt;
}

.m_eform_menu_doodleleft_button {
	right: 170px;
	background-image: url(../img/eform/left.png);
}

.m_eform_menu_doodleright_button {
	right: 70px;
	background-image: url(../img/eform/right.png);
}

.eform_menu_progress {
	position: absolute;
	right: 5px;
	width: 16px;
	height: 16px;
}

.eform_textarea {
	position:absolute;
	padding:0px 0px 0px 0px !important;
	box-sizing:border-box;
	smargin-top:0 !important;
	margin-bottom:0 !important;
	resize:none;
	overflow-y:hidden;
	overflow-x:hidden;
	filter:alpha(opacity=0); 
	opacity:0;
}

.eform_table{
	table-layout: fixed;
	position:absolute;
	left:0px;
	height:100%;
	top:0px;
	width:100%;
	padding:0 0 0 0;
}

.eForm_hidden_button{
	opacity: 0;
	filter:alpha(opacity=0); 
}


.eform_textarea:focus{
	border:2pt solid Orange;
	outline: none;
}

.eform_control_focus{
	border:2pt solid Orange;
}

/*리포트 프로그래스*/
.eform_progress {
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-image: url(../img/efromProgress.gif);
	opacity: 0.5;
}

/*사인컨트롤 전체 배경*/
.eform_sign_background {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	overflow : hidden;
	z-index:200;
}


/*사인컨트롤 전체 배경*/
.m_eform_sign_background {
	position: absolute;
	top: 50px;
	width: 100%;
	bottom: 0px;
	overflow : hidden;
	z-index:200;
}

/*사인컨트롤 전체 배경*/
.eform_sign_div{
	/*
	background-image:url(../img/eform/sign/background.png);
	background-size: cover;
	*/
	background-color:white;
	border:5px #51920f solid;
	border-radius: 7px;
}

/*사인컨트롤의 타이틀 */
.eform_sign_title{
	position:absolute;
	left:15px;		
}

/*사인컨트롤 그리는 영역 외각선*/
.eform_sign_paint{
	position:absolute;
	left:25px;
	top:25px;
	right:25px;
	bottom:85px;
	background-color:white;
	border:2px darkgray solid;
	border-radius: 7px;
}

/*사인컨트롤 그리는 영역*/
.eform_sign_canvas{
	position:absolute;
	left:0px;
	top:0px;
	background-color:transparent;
}

.eform_sign_canvas_in{
	position:absolute;
	left:0px;
	top:0px;
	background-color:transparent;
	zoom:0.5;
	-moz-transform:scale(0.5);
	-moz-transform-origin:0 0 0;
}

/*사인컨트롤 메뉴*/
.eform_sign_menu{
	position:absolute;
	left:0px;
	bottom:25px;
	right:0px;
	height:40px;
	text-align: center;
}

/*사인컨트롤 버튼 공통*/
.eform_sign_button{
	width:100px;
	height:40px;
	border-radius: 4px;
	font-weight: bold;
	font-size:11pt;
	color:RGB(255,255,255);
}

/*사인컨트롤 직접서명 버튼 공통*/
.eform_sign_button_in{
	position: relative;
	border-radius: 4px;
	font-weight: bold;
	font-size:10pt;
	color:RGB(255,255,255);
	margin-right: 3px;
    margin-bottom: 3px;
}

/*사인컨트롤 버튼 확인*/
.eform_sign_save{
	border:2px #9a9f00 solid;
	background-color:#9a9f00;
}

/*사인컨트롤 버튼 초기화*/
.eform_sign_reset{
	border:2px #9a9f00 solid;
	background-color:#9a9f00;
}

/*사인컨트롤 버튼 취소*/
.eform_sign_cancel{
	border:2px #999999 solid;
	background-color:#999999;
}

/*사인컨트롤의 가이드 텍스트*/
.eform_sign_paint_guide{
	position:absolute;
	border:0px none;
	background-color:transparent;
	text-align:center;
	-webkit-user-select: none; 
	-moz-user-select: none;
	-khtml-user-select: none; 
	-ms-user-select: none; 
	padding:0;
}

.eform_zoomInOut{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:none;
	/*
    -webkit-filter:blur(5px); 
    */
}

.eform_IndexOrder{
	position:absolute;
	overflow:hidden;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	display:none;
	z-index:101;
	opacity: 0;
	background-color:white;
}
.eform_IndexOrder_inner{
	position:absolute;
	left:0px;
	top:0px;
	height:20px;
	width:200px;
	z-index:160;
	display:none;
}
.eform_IndexOrder_left{
	position:absolute;
	left:0px;
	bottom:0px;
	width:20px;
	height:20px;
}

.eform_IndexOrder_right{
	position:absolute;
	right:0px;
	bottom:0px;
	width:20px;
	height:20px;
}